---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Welch Center | About">
    <div class="container section-padding">
        <h2 class="text-uh-red">About Us</h2>
        <p>The Welch Center of Crystallization Research at the University of Houston is a world-class facility.</p>
    </div>
</MainLayout>