---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Welch Center | Advisory Board">
    <div class="container section-padding">
        <h2 class="text-uh-red">Advisory Board</h2>
        <p>External advisors from ExxonMobil, Pfizer, and more.</p>
    </div>
</MainLayout>