---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Welch Center | Contact">
    <div class="container section-padding">
        <h2 class="text-uh-red">Contact Us</h2>
        <p>University of Houston, Engineering Building 1.</p>
    </div>
</MainLayout>