---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Welch Center | Outputs">
    <div class="container section-padding">
        <h2 class="text-uh-red">Research Outputs</h2>
        <p>Publications and Patents listed here.</p>
    </div>
</MainLayout>