---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Welch Center | Outreach">
    <div class="container section-padding">
        <h2 class="text-uh-red">Outreach</h2>
        <p>Inspiring the next generation.</p>
    </div>
</MainLayout>